export DB_HOST = "db.ref-id-here.supabase.co"
export DB_USER = "your_username"
export DB_PASSWORD = "your_db_password"
export DB_NAME = "your_database_name" # db names are typically 'postgres' by default
export DB_PORT = "6543" # the default port for supabse session poolers. Yours may differ.
